/* Stylesheet */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 300;
  background: #f4f7f6;
}

header {
  font-family: "Montserrat", arial, sans-serif;
}

.col-md-4 {
  padding: 0 !important;
}

.main-div {
  margin-bottom: 100px;
}

.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Montserrat", arial, sans-serif;
  color: #000;
}

.nav-btn {
  font-size: 15px;
  letter-spacing: 0px;
  text-transform: uppercase;
  /* float: right; */
  font-family: "Montserrat", arial, sans-serif;
  color: #444;
  /* margin-left: 20px; */
}

#saved-btn:hover {
  color: #777;
  cursor: pointer;
}

#scrape-btn{
  background: #EF5353;
  color: #fff;
  padding: 10px;
}

#unsave-article-btn {
  background: #EF5353;
  color: #fff;
  padding: 5px;
}

#save-article-btn, #add-note-btn {
  background: #67ac5b;
  color: #fff;
  padding: 5px;
}


#save-article-btn:hover, #unsave-article-btn:hover, #add-note-btn:hover {
  background: rgb(241, 131, 131);
  color: #fff;
  cursor: pointer;
}

#scrape-btn:hover {
  background: rgb(241, 131, 131);
  color: #fff;
  cursor: pointer;
}

.item {
  margin: 10px 10px 20px 10px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.item img {
  max-width: 100%;
  /* width: 300px;
  height: 160px; */
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.item img:hover {
  opacity: .5;
}

.item .desc {
  padding: 20px;
  float: left;
  line-height: 24px;
}

.desc h3 {
  font-size: 14px;
  font-weight: 600;
}

.desc a {
  text-decoration: none;
  color: #202121;
}

#author {
  color: #EF5353;
}

#time {
  text-align: right;
  margin: 10px 10px 0 0;
  color: #999;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: white;
  background-color: #444;
}

.footer>.container>p {
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin: 0;
  background: #555;
}